$vermillion: #f44336;
$darkest-grey: #404040;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  height: 230px;
  width: 400px;
  background: linear-gradient(#fff, #fff 50%, $vermillion 50%, $vermillion);
  background-size: 100% 200%;
  transition: ease-in-out 0.5s;
  padding: 3%;
  border: 1px solid gainsboro;
  border-radius: 2px;
  cursor: pointer;
  > h1 {
    color: $darkest-grey;
    transition: ease-in-out 0.7s;
  }
  > p {
    color: dimgray;
    transition: ease-in-out 0.5s;
  }
  &:hover {
    background-position: 100% 100%;
    > h1, p {
      color: #fff;
    }
  }
}
