$vermillion: #f44336;
$oswald: 'Oswald', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $oswald;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url('../img/nitish-goswami-MdhD0_LMq78-unsplash.jpg');
  background-size:cover;
  -webkit-background-size:cover; 
  -moz-background-size:cover; 
  background-repeat: no-repeat;
  background-position: center, center;
  display: flex;
  align-items: flex-start;
  position: relative;
}

nav {
  height: 60px;
  width: 100%;  
  border: none;
  position: fixed;
  z-index: 1;
  transition: ease-in-out .3s;
  &.transparent {
    background-color: none;
  }
  &.solid {
    background-color: $vermillion;
  }
  > ul {
    display: flex;
    line-height: 60px;
    justify-content: space-between;
  }
  > ul > li {
    color: #fff;
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    &:first-child {
      margin-left: 20px;
    }
    &:last-child {
      margin-right: 20px;
      margin-top: 5px;
    }
  }
}

.about {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.arrow {
  position: absolute;
  left: 50%;
  bottom: 10%;
  border: solid #fff;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  animation: float 1s ease-in-out infinite;
  cursor: pointer;
  transform: translate(-50%, -90%);
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(45deg);
  }
  50% {
    transform: translateY(-15px) rotate(45deg);
  }
  100% {
    transform: translateY(0) rotate(45deg);
  }
}
